@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    @apply flex flex-col;
}

#root {
    @apply flex flex-col min-h-full;
}